<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>baseballBlack</string>
		<key>bigImage</key>
		<string></string>
		<key>colors</key>
		<array>
			<integer>200</integer>
			<integer>200</integer>
			<integer>200</integer>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>basketballBlack</string>
		<key>bigImage</key>
		<string></string>
		<key>colors</key>
		<array>
			<integer>300</integer>
			<integer>59</integer>
			<integer>55</integer>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>bikeBlack</string>
		<key>bigImage</key>
		<string></string>
		<key>colors</key>
		<array>
			<integer>44</integer>
			<integer>194</integer>
			<integer>7</integer>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>bowlBlack</string>
		<key>bigImage</key>
		<string></string>
		<key>colors</key>
		<array>
			<integer>99</integer>
			<integer>22</integer>
			<integer>122</integer>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>fightBlack</string>
		<key>bigImage</key>
		<string></string>
		<key>colors</key>
		<array>
			<integer>207</integer>
			<integer>34</integer>
			<integer>156</integer>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>golfBlack</string>
		<key>bigImage</key>
		<string></string>
		<key>colors</key>
		<array>
			<integer>14</integer>
			<integer>222</integer>
			<integer>149</integer>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>hockeyBlack</string>
		<key>New item</key>
		<string></string>
		<key>bigImage</key>
		<string></string>
		<key>colors</key>
		<array>
			<integer>150</integer>
			<integer>193</integer>
			<integer>231</integer>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>liftBlack</string>
		<key>bigImage</key>
		<string></string>
		<key>colors</key>
		<array>
			<integer>240</integer>
			<integer>122</integer>
			<integer>180</integer>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>pingpongBlack</string>
		<key>bigImage</key>
		<string></string>
		<key>colors</key>
		<array>
			<integer>201</integer>
			<integer>199</integer>
			<integer>32</integer>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>runBlack</string>
		<key>bigImage</key>
		<string></string>
		<key>colors</key>
		<array>
			<integer>126</integer>
			<integer>100</integer>
			<integer>222</integer>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>skateboardBlack</string>
		<key>bigImage</key>
		<string></string>
		<key>colors</key>
		<array>
			<integer>165</integer>
			<integer>172</integer>
			<integer>44</integer>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>soccerBlack</string>
		<key>New item - 2</key>
		<string></string>
		<key>New item</key>
		<string></string>
		<key>bigImage</key>
		<string></string>
		<key>colors</key>
		<array>
			<integer>100</integer>
			<integer>200</integer>
			<integer>100</integer>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>tennisBlack</string>
		<key>bigImage</key>
		<string></string>
		<key>colors</key>
		<array>
			<integer>100</integer>
			<integer>99</integer>
			<integer>199</integer>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>volleyballBlack</string>
		<key>bigImage</key>
		<string></string>
		<key>colors</key>
		<array>
			<integer>110</integer>
			<integer>166</integer>
			<integer>66</integer>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>yogaBlack</string>
		<key>bigImage</key>
		<string></string>
		<key>colors</key>
		<array>
			<integer>134</integer>
			<integer>44</integer>
			<integer>233</integer>
		</array>
	</dict>
</array>
</plist>
